docs/api.xml

<?xml version="1.0" encoding="utf-8" ?>
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <!--
      Want to read this? Lololol fuck you :3

      Written in a deprecated format due to it's verbosity and
      easy porting to OpenAPI's Swagger, which supports nice
      frontends.
  -->
  <resources xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:dbaas="http://docs.openstack.org/database/api/v1.0"
             xmlns="http://wadl.dev.java.net/2009/02"
             base="http://docs.openstack.org/database/api/v1.0"
             xml:id="rdrama">
    <!-- ################################################## -->
    <resource path="/submit"> <!-- INCOMPLETE -->
      <method name="POST">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                  xml:lang="EN"
                  title="Create post">
          <para role="shortdesc">
            Submits a post.
          </para>
        </wadl:doc>
        <request>
          <param required="true"
                 name="title"
                 style="plain"
                 type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
              <para>The posts title. :emojis: will be parsed as well. Plaintext. No markdown.</para>
            </wadl:doc>
          </param>
          <param required="false"
                 name="url"
                 style="plain"
                 type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
              <para>Post URL. Be wary of duplicates.</para>
            </wadl:doc>
          </param>
          <param required="true"
                 name="body"
                 style="markdown"
                 type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
              <para>The post in markdown.</para>
            </wadl:doc>
          </param>
          <!-- TODO a fuck ton more -->
        </request>
        <response status="200">
          <param required="false"
                 name="body"
                 style="html"
                 type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
              <para>The post you were looking for.</para>
            </wadl:doc>
          </param>
          <!-- Example -->
          <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
              <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                <programlisting language="javascript">{
                    "our": "example, here",
                    "our": "example, here"
                }</programlisting>
              </xsdxt:code>
            </wadl:doc>
          </representation>
        </response>
        <response status="400">
          <representation mediaType="application/xml" element="csapi:badRequest"/>
          <representation mediaType="application/json"/>
        </response> 
      </method>
    </resource>
    
    <!-- ################################################## -->
    
    <resource path="/@{username}/message"> <!-- INCOMPLETE -->
      <method name="POST">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                  xml:lang="EN"
                  title="Create post">
          <para role="shortdesc">
            Sends a user a message
          </para>
        </wadl:doc>
        <request>
          <param required="true"
                 name="username"
                 style="plain"
                 type="xsd:url">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
              <para>User URL</para>
            </wadl:doc>
          </param>
          <param required="true"
                 name="data"
                 style="markdown"
                 type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
              <para>Message data to the user.</para>
            </wadl:doc>
          </param>
          <!-- TODO a fuck ton more -->
        </request>
        <response status="200">
          <!-- <param required="false" -->
          <!--        name="body" -->
          <!--        style="html" -->
          <!--        type="xsd:string"> -->
          <!--   <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"> -->
          <!--     <para></para> -->
          <!--   </wadl:doc> -->
          <!-- </param> -->
          <!-- Example -->
          <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
              <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                <programlisting language="javascript">{
                }</programlisting>
              </xsdxt:code>
            </wadl:doc>
          </representation>
        </response>
        <response status="400">
          <representation mediaType="application/xml" element="csapi:badRequest"/>
          <representation mediaType="application/json"/>
        </response> 
      </method>
    </resource>
    
    <!-- ################################################## -->
    
    <resource path="/comment"> <!-- INCOMPLETE -->
      <method name="POST">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                  xml:lang="EN"
                  title="Create post">
          <para role="shortdesc">
            Creates a comment on a post, or replies to a comment
          </para>
        </wadl:doc>
        <request>
          <param required="true"
                 name="parent_fullname"
                 style="plain"
                 type="xsd:url">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
              <para>Fullname of the parent (this isn't actually real, right?)</para>
            </wadl:doc>
          </param>
          <param required="true"
                 name="submission"
                 style="plain"
                 type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
              <para>Parent submission (the id, right?)</para>
            </wadl:doc>
          </param>
          <param required="true"
                 name="body"
                 style="markdown"
                 type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
              <para>Your messages content</para>
            </wadl:doc>
          </param>
          <!-- TODO a fuck ton more -->
        </request>
        <response status="200">
          <param required="false"
                 name="body"
                 style="html"
                 type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
              <para></para>
            </wadl:doc>
          </param>
          <!-- Example -->
          <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
              <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                <programlisting language="javascript">{
                }</programlisting>
              </xsdxt:code>
            </wadl:doc>
          </representation>
        </response>
        <response status="400">
          <representation mediaType="application/xml" element="csapi:badRequest"/>
          <representation mediaType="application/json"/>
        </response> 
      </method>
    </resource>
    
    <!-- ################################################## -->

    <!-- Yada yada yada, yawn, put more here! -->
  </resources>
</wadl:application>
